In [0]:
# 1. Merge these two DataFrames into a single DataFrame called 'census'
import pandas as pd

# Create separate tables:
populations = pd.read_csv('https://tf-assets-prod.s3.amazonaws.com/tf-curric/data-science/state-populations.csv')
print(populations.head(10))
states = pd.read_csv('https://tf-assets-prod.s3.amazonaws.com/tf-curric/data-science/census-divisions.csv')
print(states.head(10))
# Merge tables:
census = pd.merge(populations, states)

census.head(10)

                  state      2010      2011  ...      2014      2015      2016
0               Alabama   4785492   4799918  ...   4843214   4853875   4863300
1                Alaska    714031    722713  ...    736705    737709    741894
2               Arizona   6408312   6467163  ...   6719993   6817565   6931071
3              Arkansas   2921995   2939493  ...   2966912   2977853   2988248
4            California  37332685  37676861  ...  38680810  38993940  39250017
5              Colorado   5048644   5118360  ...   5349648   5448819   5540545
6           Connecticut   3579899   3589893  ...   3591873   3584730   3576452
7              Delaware    899816    907924  ...    934948    944076    952065
8  District of Columbia    605183    620477  ...    659005    670377    681170
9               Florida  18849098  19096952  ...  19888741  20244914  20612439

[10 rows x 8 columns]
           state     region            division
0    Connecticut  Northeast         New England
1          Maine  Northeast         New England
2  Massachusetts  Northeast         New England
3  New Hampshire  Northeast         New England
4   Rhode Island  Northeast         New England
5        Vermont  Northeast         New England
6     New Jersey  Northeast     Middle Atlantic
7       New York  Northeast     Middle Atlantic
8   Pennsylvania  Northeast     Middle Atlantic
9       Illinois    Midwest  East North Central

                  state      2010  ...     region            division
0               Alabama   4785492  ...      South  East South Central
1                Alaska    714031  ...       West             Pacific
2               Arizona   6408312  ...       West            Mountain
3              Arkansas   2921995  ...      South  West South Central
4            California  37332685  ...       West             Pacific
5              Colorado   5048644  ...       West            Mountain
6           Connecticut   3579899  ...  Northeast         New England
7              Delaware    899816  ...      South      South Atlantic
8  District of Columbia    605183  ...      South      South Atlantic
9               Florida  18849098  ...      South      South Atlantic

[10 rows x 10 columns]

In [0]:
# 2. Re-shape 'census' so that one column contains 
# all population measures, and another the year attributes

census_melt = pd.melt(frame = census, id_vars = ['state'], var_name = 'year', value_name = 'population')
census_melt.tail(10)

             state      year          population
449   South Dakota  division  West North Central
450      Tennessee  division  East South Central
451          Texas  division  West South Central
452           Utah  division            Mountain
453        Vermont  division         New England
454       Virginia  division      South Atlantic
455     Washington  division             Pacific
456  West Virginia  division      South Atlantic
457      Wisconsin  division  East North Central
458        Wyoming  division            Mountain

In [0]:
[print(x) for x in census.columns]

state
2010
2011
2012
2013
2014
2015
2016
region
division

[None, None, None, None, None, None, None, None, None, None]

In [0]:
[x for x in census.columns if '20' in x]

['2010', '2011', '2012', '2013', '2014', '2015', '2016']

In [0]:
melted_df = pd.melt(census, id_vars=['state'], 
        var_name='year',
        value_name='population',
        value_vars=['2010','2011','2012','2013','2014','2015','2016'])

In [0]:
 # 3. Group the data by year and summarize it
 melted_df.groupby('year').mean()

        population
year
2010  6.065651e+06
2011  6.111046e+06
2012  6.156831e+06
2013  6.200096e+06
2014  6.246342e+06
2015  6.292091e+06
2016  6.335834e+06

In [0]:
temp_df = melted_df.groupby(['year','state']).mean()

In [0]:
temp_df.to_parquet('send_this_to_tiago.parq')

In [0]:

temp_df.query("year=='2010'")

                           population
year state
2010 Alabama                  4785492
     Alaska                    714031
     Arizona                  6408312
     Arkansas                 2921995
     California              37332685
     Colorado                 5048644
     Connecticut              3579899
     Delaware                  899816
     District of Columbia      605183
     Florida                 18849098
     Georgia                  9713521
     Hawaii                   1363945
     Idaho                    1571010
     Illinois                12841578
     Indiana                  6490528
     Iowa                     3050738
     Kansas                   2858850
     Kentucky                 4348662
     Louisiana                4544996
     Maine                    1327730
     Maryland                 5788584
     Massachusetts            6565524
     Michigan                 9877495
     Minnesota                5311147
     Mississippi              2970322
     Missouri                 5996118
     Montana                   990641
     Nebraska                 1830051
     Nevada                   2703284
     New Hampshire            1316872
     New Jersey               8803729
     New Mexico               2064756
     New York                19402640
     North Carolina           9558915
     North Dakota              674526
     Ohio                    11540983
     Oklahoma                 3759603
     Oregon                   3838048
     Pennsylvania            12712343
     Rhode Island             1053337
     South Carolina           4635943
     South Dakota              816325
     Tennessee                6356671
     Texas                   25244310
     Utah                     2775326
     Vermont                   625982
     Virginia                 8025773
     Washington               6743226
     West Virginia            1854230
     Wisconsin                5690263
     Wyoming                   564513

In [0]:
# 4. Group the data by region, division and year and summarize it